html {
	overflow-x: hidden;
	word-wrap: break-word;
}

#kard {
	/* CHANGE CARD SIZE HERE */
	/* CENTERS THE CARD IN THE MIDDLE OF THE WINDOW */
	/* BREAKS UP LONG WORKS */
}
 
.card {
	font-family: Noto Sans CJK JP Regular;
	text-align: center;
	font-size: 28px;
	width: 800px;
	line-height: 1;
	margin: 150px auto 20px auto;
	background: url("Reading.jpeg");
}
 
.body-upper {
	background-color: #555555;
	color: #EEE;
	padding: 15px;
}
 
.body-lower {
	text-align: center;
	font-size: 24px;
	color: #555555;
	background-color: #E0E0E0;
	padding: 15px 20px;
	margin: auto;
}
 
.back {
	color: #000000;
}

.back ul{
	padding-left: 30px;
	text-align: left;
}

.sentence {
	font-size: 20px;
	text-align: left;
	color: #25536c;
	margin: auto;
}

.sentence ul{
	list-style-type: disclosure-closed;
}

.notes {
	position: relative;
	font-family: Noto Sans JP Regular;
	font-size: 18px;
	border: 1px dashed #555555;
	padding: 15px;
	margin-top: 20px;
	width: auto;
	color: #555555;
	text-align: left;
}

/************** ANDROID ***************/

.android .card {
	font-size: 24px;
	width: 100%;
	margin: 20% auto 5% auto;
}

.android .body-lower {
	font-size: 20px;
}

.android .sentence {
	font-size: 16px;
}

.android .notes {
	font-size: 15px;
	padding: 10px;
}
